<h2 class="text-2xl font-semibold text-gray-800 text-center mt-10">
  Work Process
</h2>
<mat-tab-group>
  <mat-tab label="Add New Data">
    <div class="p-6 mt-8 bg-white rounded shadow-md">
      <div class="max-w-3xl mx-auto">
        <form
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4"
        >
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Work Process Description</mat-label>
            <textarea
              matInput
              formControlName="workDescription"
              rows="5"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Research Description</mat-label>
            <textarea
              matInput
              formControlName="rearchDescription"
              rows="5"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Analyze Description</mat-label>
            <textarea
              matInput
              formControlName="analyzeDescription"
              rows="5"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Development Description</mat-label>
            <textarea
              matInput
              formControlName="designDescription"
              rows="5"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Launch Description</mat-label>
            <textarea
              matInput
              formControlName="launchDescription"
              rows="5"
            ></textarea>
          </mat-form-field>
          <app-toast
            [message]="toastMessage"
            [messageType]="toastType"
            *ngIf="isToastVisible"
          />
          <!-- Submit Button -->
          <div class="flex justify-center mt-4">
            <button
              mat-raised-button
              type="submit"
              [disabled]="isSubmitting"
              [ngClass]="{
                'bg-blue-200 text-gray-800': isSubmitting,
                'bg-blue-700 hover:bg-blue-500 text-white': !isSubmitting
              }"
              class="font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out flex items-center gap-2"
            >
              <mat-spinner
                *ngIf="isSubmitting"
                diameter="20"
                strokeWidth="3"
                color="accent"
              ></mat-spinner>
              <span *ngIf="!isSubmitting">Submit</span>
              <mat-icon *ngIf="!isSubmitting" class="text-white">send</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="See Data">
    <app-toast
      [message]="toastMessage"
      [messageType]="toastType"
      *ngIf="isToastVisible"
    />

    <div
      *ngFor="let doc of workProcess"
      class="flex flex-col bg-white border border-gray-200 shadow-xl rounded-2xl overflow-hidden w-full max-w-screen-md mx-auto mt-6 mb-6"
    >
      <!-- Card Content -->
      <div class="p-6 space-y-4">
        <div>
          <h2 class="text-lg font-semibold text-gray-700 uppercase">
            Work Description
          </h2>
          <p class="text-base text-gray-800 mt-1">
            {{ doc["workDescription"] }}
          </p>
        </div>

        <div>
          <h2 class="text-lg font-semibold text-gray-700 uppercase">
            Research Description
          </h2>
          <p class="text-base text-gray-800 mt-1">
            {{ doc["rearchDescription"] }}
          </p>
        </div>

        <div>
          <h2 class="text-lg font-semibold text-gray-700 uppercase">
            Analyze Description
          </h2>
          <p class="text-base text-gray-800 mt-1">
            {{ doc["analyzeDescription"] }}
          </p>
        </div>

        <div>
          <h2 class="text-lg font-semibold text-gray-700 uppercase">
            Design Description
          </h2>
          <p class="text-base text-gray-800 mt-1">
            {{ doc["designDescription"] }}
          </p>
        </div>

        <div>
          <h2 class="text-lg font-semibold text-gray-700 uppercase">
            Launch Description
          </h2>
          <p class="text-base text-gray-800 mt-1">
            {{ doc["launchDescription"] }}
          </p>
        </div>
      </div>

      <!-- Action Button -->
      <div class="w-full flex justify-end px-6 py-4 bg-gray-50">
        <button
          (click)="deleteDocument(doc['id'])"
          class="flex items-center gap-2 bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 transition"
        >
          <mat-icon class="text-white text-base">delete</mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
